$font-family-base   : "proxima-nova", helvetica, sans-serif
$responsive         : false

.group:after
  content: ""
  display: table
  clear: both

body
  // position: relative
  min-width: 768px

@import "bootstrap"
@import "manhattan"
@import "font-awesome"
@import "jquery.ui.all"
@import "fonts"
@import "nav"
@import "map"
@import "chart"
@import "homies"