.map-container,
.map
  position: absolute
  width: 100%
  height: 100%
  background-color: transparent !important

.map-night
  .gm-style
    > div:first-child
      opacity: 1

.map-slider
  position: absolute
  right: 10%
  bottom: 40px
  width: 80%