$blue : #3CB6E3

nav
  position: relative
  z-index: 2
  background: $blue
  padding: 16px 0 12px
  border-bottom: #46C1F0 solid 4px

.nav-actions
  @extend .group
  width: 80%
  margin: 0 auto

  .divvy-logo
    float: left
    width: 5%
    color: white
    font-size: 20px
    padding-top: 5px

  .ui-widget-content
    float: left
    border-color: transparent
    background: #296E8F
    width: 95%
    height: 12px
    border-radius: 5px
    margin: 10px 0

    &:before
      content: ""
      position: absolute
      top: -2px
      left: 0
      width: 100%
      height: 100%
      border-radius: 3px
      // border-top: 2px solid rgba(white, 0.3)

  .ui-slider
    .ui-slider-handle
      border-radius: 20px
      background: white
      width: 19px
      height: 19px
      border: 2px solid #3CB6E3
      cursor: pointer
      outline: none

      &.ui-state-active
        background: darken(white, 10%)